.productItem {
  // position: relative;

  &__img {
    display: block;
    height: 150px;
    margin: 0 auto;
  }

  &__actions {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
  }
}